// Color System

// white
$color-white: #ffffff;
$color-smoke-white: #f8f8f8;
$color-smoke-white-bold: #eeeeee;
$color-gainsboro-white: #e7e7e7;

// black
$color-black: #000;

// grey
$color-grey: #777777;
$color-empress-grey: #737373;
$color-dim-grey: #727272;
$color-nobel-grey: #999999;
$color-shadyLady-grey: #989898;
$color-mortar-grey: #575153;
$color-steel-grey: #454647;
$color-nightRider-grey: #333333;
$color-nero-grey: #222222;
$color-taupe-grey: #8e8c8d;
$color-suva-grey: #8e8c8c;
$color-mercury-grey: #DAD5D5;

// blue
$color-egg-blue: #00c8c8;

// red
$color-blush-red: #bb5465;

// violet
$color-amour-violet: #FCF6F7;

// End Color System



// Typography
//
// Font, line-height, headings.

$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'Roboto Mono', monospace;

// End Typography
