/*-------- SLIDER ANIMATION --------*/
@keyframes slider {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  4%,
  30% {
    visibility: visible;
    opacity: 1;
  }

  34%,
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
