@import '../abstracts/variables';
@import '../abstracts/mixin';

@import '../vendor/reset';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  // 1rem = 10px
  font-size: 62.5%;
}

body {
  font-family: $font-family-primary;
  font-weight: normal;
  color: $color-dim-grey;
  background-color: $color-white;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.wrapper {
  max-width: 2050px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1200px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
