.top-bar {
  background-color: $color-nightRider-grey;
  height: 4.5rem;
  .container {
    height: 100%;
  }
}

.top-bar-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.top-bar__left {
  color: $color-grey;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $color-white;
  }
}

.top-bar__right {
  display: flex;
  align-items: center;
  height: 100%;
}

.register-signIn {
  margin: 0 1.6rem;
  color: $color-nobel-grey;
  transition: color 0.3s;

  &:hover {
    color: $color-egg-blue;
  }
}

.signIn-link {
  margin-right: 0;
}

.top-bar__cart {
  display: none;
  align-items: center;
  justify-content: center;
  
  width: 14.7rem;
  height: 100%;
  margin-left: 7rem;

  color: $color-white;
  background-color: $color-egg-blue;
  cursor: pointer;
}

.cart-icon {
  font-size: 1.7rem;
  margin-right: 0;
}

.cart-amount {
  display: none;
}

.cart-down-icon {
  margin-left: 0.8rem;
}


.navbar-bg {
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;

  height: 11rem;
  background-color: $color-smoke-white;
}

.navbar {
  position: absolute;
  top: 4.5rem;
  left: 0;
  right: 0;
  z-index: 5;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 11rem;
  max-width: 181.5rem;
  margin: 0 auto;
  padding: 3.5rem;
  padding-left: 1.5rem;
  background-color: transparent;
}

.navbar__brand {
  font-size: 2rem;
  color: $color-nero-grey;
  display: inline-block;
  cursor: pointer;

  span {
    font-weight: bold;
  }
}

.navbar__nav {
  display: none;
}

.navbar__items {
  display: flex;
  align-items: center;
}

.navbar__item {
  position: relative;
  margin-right: 3rem;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    .navbar__link,
    .navbar__icon-down {
      color: $color-egg-blue;
    }
  }
}

.navbar__item.is-active {
  color: $color-egg-blue;
  i {
    color: $color-egg-blue;
  }
}

.navbar__link {
  text-transform: uppercase;
  color: $color-nero-grey;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar__icon-down {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  margin-left: -1px;
  font-size: 1.3rem;
  line-height: 3rem;
  color: $color-shadyLady-grey;
  transition: color 0.3s;
}

.navbar__sub-menu {
  padding-top: 3.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
}

.navbar__sub-menu[data-dropdown-show] {
  opacity: 1;
  visibility: visible;
}

.navbar__sub-menu-content {
  width: 46.5rem;
  padding: 3rem;
  background-color: $color-smoke-white;
  box-shadow: 0px 20px 20px 0px rgb(0 0 0 / 13%);
}

.navbar__sub-menu-categories {
  display: flex;
}

.navbar__sub-menu-categories__head {
  margin-bottom: 3.5rem;
  font-size: 1.2rem;
  font-weight: normal;
  color: $color-mortar-grey;
  text-transform: uppercase;
}

.navbar__sub-menu-categories__left {
  margin-right: 8.5rem;
}

.navbar__sub-menu-categories__link {
  margin-bottom: 1.7rem;
  font-size: 1.4rem;
  font-weight: lighter;
  color: $color-dim-grey;

  -webkit-user-drag: none;
  transition: color 0.3s;

  &:hover {
    color: $color-egg-blue;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.navbar__sub-menu-banner {
  margin-top: 6rem;
  padding: 6rem 5rem;
  background-color: $color-nightRider-grey;

  b,
  span {
    display: block;
    width: fit-content;
    margin: auto;

    font-size: 3.6rem;
    color: $color-white;
    text-transform: uppercase;
  }

  b {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  span {
    font-weight: lighter;
  }
}

.navbar__search {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navbar__search-input {
  width: 12rem;
  height: 3rem;
  padding-left: 1rem;
  color: $color-shadyLady-grey;
  background-color: $color-smoke-white;

  border: 2px solid $color-gainsboro-white;
  border-right: none;
  outline: none;
}

.navbar__search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 3rem;
  height: 100%;
  border: 2px solid $color-gainsboro-white;
  border-left: none;

  i {
    font-size: 1.4rem;
    color: $color-shadyLady-grey;
    cursor: pointer;
  }
}

.navbar__toggle {
  position: fixed;
  right: 1.5rem;
  z-index: 100;
  cursor: pointer;

  .bar {
    width: 2.5rem;
    height: 3px;
    margin: 5px 0;
    background-color: $color-grey;
    transition: all .3s;
  }
}

#inp-overplay:checked {
  & ~ .navbar__toggle {
    &:hover {
      .bar {
        background-color: $color-egg-blue;
      }
    }

    .bar {
      background-color: $color-white;
  
      &:first-child {
        transform: translateY(8px) rotate(45deg);
      }
  
      &:nth-child(2) {
        transform:translateX(50px);
        opacity: 0;
      }
      &:last-child {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  } 

  & ~ .navbar__overplay {
    opacity: 1;
    visibility: visible;
  
    ul {
      li {
        transform: translateY(0);
        opacity: 1;
  
        @for $i from 1 through 6 {
          $t: $i * 0.1;
          &:nth-child(#{$i}) {
            transition: all 0.3s cubic-bezier(.6,0,.8,1.5) #{$t}s;
          }
        }
  
      }
    }
  }
}

.navbar__overplay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0 ,0 , .8);
  transition: all 0.3s ease-in-out;

  ul {
    margin: 7rem auto;
    width: fit-content;

    li {
      transform: translateY(50px);
      opacity: 0;
    }
  }
}

.navbar__overplay-link {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  padding: 1.2rem 0;
  color: $color-white;
  transition: color .3s;

  &:hover {
    color: $color-egg-blue;
  }
}

.navbar__overplay-icons {
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;

  a{
    margin: 0 3rem;
    cursor: pointer;
  }

  i {
    font-size: 3.2rem;
    color: $color-white;
    transition: color .3s;

    &:hover {
      color: $color-egg-blue;
    }
  }
}

div#close-search-area {
  position: absolute;
  top: 2rem;
  right: 4rem;

  font-size: 2.5rem;
  color: $color-shadyLady-grey;
  cursor: pointer;
}

.search-area {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;

  width: 100vw;
  height: 100vh;
  background-color: $color-smoke-white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area-form {
  width: 100%;
  max-width: 70rem;
  margin: 2rem;
}

.search-area-group {
  position: relative;
}

.search-area-input {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2.7rem;

  font-size: 1.7rem;
  font-weight: lighter;
  color: $color-shadyLady-grey;

  outline: none;
  border: none;
  border-bottom: 1px solid $color-shadyLady-grey;
  background: none;
}

.search-area-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 0 5px;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  i {
    font-size: 1.7rem;
    color: $color-shadyLady-grey;
  }
}

@include Responsive(SM) {
  .navbar {
    padding-left: 3.5rem;
  }

  .navbar__toggle {
    right: 3.5rem;
  }

  .cart-icon {
    margin-right: 2rem;
  }

  .cart-amount {
    display: block;
  }
}

@include Responsive(MD) {
  .top-bar__cart {
    display: flex;
  }
  .signIn-link {
    margin-right: 1.6rem;
  }
  .navbar__nav {
    display: flex;
  }
  .navbar__brand {
    font-size: 2.4rem;
  }
  .navbar__toggle {
    display: none;
  }
}

@include Responsive(LG) {
  .navbar__item {
    margin-right: 5.5rem;
  }

  .navbar__link {
    font-size: 1.3rem;
  }

  .navbar__search {
    margin-left: 6rem;
  }

  .navbar__search-input {
    width: 16rem;

  }
}
