.look-books {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 1.5vw;
}

.look-books-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  background-color: $color-smoke-white;
  padding: 2.5rem 1.5rem 0;
}

.look-books-img {
  margin-right: 2rem;
  width: 15rem;
  height: 30rem;
}

.look-books-info {
  margin-top: 2rem;
  text-align: right;

  h4 {
    margin-bottom: 1.5rem;
    font-weight: lighter;
    color: $color-mortar-grey;
    text-transform: uppercase;
    font-size: 2rem;

    &:first-child {
      font-weight: bold;
    }
  }

  p {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    font-size: 1.3rem;
    color: $color-dim-grey;
    line-height: 1.4;
  }
}

.look-books-btn {
  @include button(
    $color-steel-grey,
    transparent,
    $color-empress-grey,
    $color-smoke-white,
    $color-egg-blue,
    $color-egg-blue
  );

  padding: 1rem 1.8rem;
  display: inline-block;

  font-size: 1.3rem;
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 3px;
}

@include Responsive(SM) {
  .look-books-info {
    margin-top: 2rem;
    text-align: center;
  }
}

@include Responsive(MD) {
  .look-books {
    grid-template-columns: repeat(3, 1fr);
  }

  .look-books-info {
    text-align: right;
    margin-top: 0;

    p {
      margin-top: 2rem;
      margin-bottom: 3.5rem;
    }
  }

  .look-books-img {
    margin-right: 2rem;
    width: 12rem;
    height: 26rem;
  }

  .look-books-item {
    flex-wrap: nowrap;
  }
}

@include Responsive(LG) {
  .look-books-btn {
    padding: 2rem 3rem;
    font-size: 1.6rem;
  }

  .look-books-info {
    h4 {
      font-size: 2.8rem;
    }

    p {
      font-size: 1.5rem;
    }
  }

  .look-books-img {
    width: 18rem;
    height: 36rem;
  }
}

@include Responsive(XL) {
  .look-books-info {
    h4 {
      font-size: 4.8rem;
    }
  }

  .look-books-item {
    padding: 4.5rem 4rem 0;
  }

  .look-books-img {
    margin-right: 3rem;
    width: 24rem;
    height: 48rem;
  }
}
