// Base
@import '../base/general';
@import '../base/animations';
@import '../base/helper';

// Components
@import '../components/header';
@import '../components/footer';
@import '../components/list-look-book';
@import '../components/nav-tabs';

.slider {
  margin-top: 11rem;
  position: relative;
  height: calc(50vh - 4.5rem);
  background-color: $color-smoke-white;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  visibility: hidden;
  opacity: 0;
  animation: slider 15s linear infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 5s;
}

.slide:nth-child(3) {
  animation-delay: 10s;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50%;
  -webkit-user-drag: none;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-around;
  max-width: 153rem;
  width: 100%;
  margin: 0 auto;

  font-size: 20vw;
  font-weight: bold;
  color: $color-mortar-grey;
  user-select: none;
}

.slide-btn {
  @include button(
    $color-steel-grey,
    transparent,
    $color-empress-grey,
    $color-smoke-white,
    $color-egg-blue,
    $color-egg-blue
  );

  position: absolute;
  bottom: 10%;
  right: 5%;

  display: none;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 3px;
}

.products-container {
  max-width: 181.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-top: 6rem;
}

.products {
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.gallery {
  @include Grid(
    4,
    1fr,
    36,
    10vw,
    1.5vw
  ); // columns, columns-width, row, row-height, gap
}

.gallery__item {
  position: relative;
  background-color: $color-smoke-white;
  cursor: pointer;
  transition: filter 0.3s;

  @media (hover: hover) {
    .gallery__hover {
      display: block;
    }

    &:hover {
      filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.15));
      position: relative;
      z-index: 2;

      .gallery__hover {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.gallery__item--01 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 6;
}

.gallery__item--02 {
  grid-column: 1 / span 4;
  grid-row: 7 / span 6;
}

.gallery__item--03 {
  grid-column: 1 / span 4;
  grid-row: 13 / span 6;
}

.gallery__item--04 {
  grid-column: 1 / span 4;
  grid-row: 19 / span 6;
}

.gallery__item--05 {
  grid-column: 1 / span 4;
  grid-row: 25 / span 6;
}

.gallery__item--06 {
  grid-column: 1 / span 4;
  grid-row: 31 / span 6;
}

.gallery__img {
  width: 100%;
  height: 100%;

  img {
    height: 100%;
    margin: 0 auto;
  }
}

.gallery__price {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;

  font-size: 2.1rem;
  font-weight: lighter;
  color: $color-nobel-grey;

  sup {
    font-size: 1.2rem;
    vertical-align: top;
    margin-right: 2px;
  }
}

.gallery__hover {
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.gallery__hover-thumb-front,
.gallery__hover-thumb-back {
  position: absolute;
  right: 1.5rem;
}

.gallery__hover-thumb-front {
  top: 1.5rem;
}

.gallery__hover-thumb-back {
  top: 13rem;
}

.gallery__hover-details-link {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);

  img {
    width: 4.2rem;
    height: 4.2rem;
  }
}

.gallery__hover-info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(100%);

  text-align: center;
  padding: 2rem 3.5rem 1.5rem;
  background-color: $color-white;

  sup {
    margin-right: 2px;
    font-size: 0.9rem;
    vertical-align: super;
  }

  h5 {
    @include font-size(1.3rem, normal, 1.6, uppercase, $color-dim-grey);
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: $color-suva-grey;
    line-height: 1.6rem;
  }
}

.gallery__hover-links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;

  a {
    width: 3rem;
    height: 3rem;

    line-height: 3rem;
    color: $color-white;
    background-color: $color-dim-grey;
    border-radius: 50%;
    transition: background-color 0.3s;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &:hover {
      background-color: $color-egg-blue;
    }
  }
}

@include Responsive(SM) {
  .slider {
    height: calc(70vh - 4.5rem);
  }
  .slide-img {
    object-position: 18%;
  }
  .slide-btn {
    display: block;
  }
  .products-container {
    padding: 0 3.5rem;
  }
  .gallery {
    grid-template-rows: repeat(36, 5vw);
  }
}

@include Responsive(MD) {
  .gallery {
    @include Grid(
      4,
      1fr,
      12,
      5vw,
      1.5vw
    ); // columns, columns-width, row, row-height, gap
  }
  .gallery__item--01 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 4;
  }

  .gallery__item--02 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 4;
  }

  .gallery__item--03 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 4;
  }

  .gallery__item--04 {
    grid-column: 3 / span 2;
    grid-row: 5 / span 4;
  }

  .gallery__item--05 {
    grid-column: 1 / span 2;
    grid-row: 9 / span 4;
  }

  .gallery__item--06 {
    grid-column: 3 / span 2;
    grid-row: 9 / span 4;
  }
}

@include Responsive(LG) {
  .slider {
    margin-top: 0;
    height: calc(100vh - 4.5rem);
  }

  .slide-btn {
    bottom: 13%;
    right: 15%;
  }
  
  .gallery__item--01 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 5;
  }

  .gallery__item--02 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 5;
  }

  .gallery__item--03 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 7;
  }

  .gallery__item--04 {
    grid-column: 1 / span 2;
    grid-row: 6 / span 7;
  }

  .gallery__item--05 {
    grid-column: 3 / span 1;
    grid-row: 8 / span 5;
  }

  .gallery__item--06 {
    grid-column: 4 / span 1;
    grid-row: 8 / span 5;
  }
}
