// Base
@import '../base/general';

// Components
@import '../components/top-bar';
@import '../components/navbar';

.navbar-slider-container {
  position: relative;
  height: calc(100vh - 4.5rem);
  background-color: $color-smoke-white;
}

.slider {
  position: relative;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  height: 100%;
  visibility: hidden;
  opacity: 0;
  animation: slider 15s linear infinite;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 5s;
}

.slide:nth-child(3) {
  animation-delay: 10s;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 18%;
  -webkit-user-drag: none;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 153rem;
  width: 100%;
  display: flex;
  justify-content: space-around;

  font-size: 20vw;
  font-weight: bold;
  color: $color-mortar-grey;
  user-select: none;
}

.slide-btn {
  position: absolute;
  bottom: 13%;
  right: 15%;

  font-size: 1.6rem;
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 3px;

  @include button(
    $color-steel-grey,
    transparent,
    $color-empress-grey,
    $color-smoke-white,
    $color-egg-blue,
    $color-egg-blue
  );
}

/*-------- SLIDER ANIMATION --------*/
@keyframes slider {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  4%,
  30% {
    visibility: visible;
    opacity: 1;
  }

  34%,
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
