<header>
  <div class="top-bar">
    <div class="container">
      <div class="top-bar-container">
        <div class="top-bar__left">
          <span>Currency: GBP</span>
          <i class="fa fa-angle-down"></i>
        </div>

        <div class="top-bar__right">
          <a class="register-signIn" href="#">Register</a>
          <a class="register-signIn signIn" href="#">Sign In</a>
          <div class="top-bar__cart">
            <i class="fa fa-shopping-cart cart-icon"></i>
            <span class="cart-amount">empty</span>
            <i class="fa fa-angle-down cart-down-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="navbar-bg"></div>
  <nav class="navbar">
    <a class="navbar__brand"><span>Avenue</span> Fashion</a>

    <div class="navbar__nav">
      <ul class="navbar__items">
        <li class="navbar__item" data-dropdown-target="#mens">
          <a class="navbar__link" href="#"> Mens </a>
          <i class="fa fa-angle-down navbar__icon-down"></i>

          <div class="navbar__sub-menu" id="mens">
            <div class="navbar__sub-menu-content">
              <div class="navbar__sub-menu-categories">
                <div class="navbar__sub-menu-categories__left">
                  <h3 class="navbar__sub-menu-categories__head">Casuals</h3>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Jackets
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Hoodies & Sweatshirts
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Polo Shirts
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Sportswear
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Trouser & Chinos
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    T-Shirts
                  </a>
                </div>

                <div>
                  <h3 class="navbar__sub-menu-categories__head">Formal</h3>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Jackets
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Shirts
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Suits
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Trousers
                  </a>
                </div>
              </div>

              <div class="navbar__sub-menu-banner">
                <b>Autumn Sale!</b>
                <span>Up to 50% Off</span>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item" data-dropdown-target="#womens">
          <a class="navbar__link" href="#"> Womens </a>
          <i class="fa fa-angle-down navbar__icon-down"></i>

          <div class="navbar__sub-menu" id="womens">
            <div class="navbar__sub-menu-content">
              <div class="navbar__sub-menu-categories">
                <div class="navbar__sub-menu-categories__left">
                  <h3 class="navbar__sub-menu-categories__head">Casuals</h3>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Jackets
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Hoodies & Sweatshirts
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Polo Shirts
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Sportswear
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Trouser & Chinos
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    T-Shirts
                  </a>
                </div>

                <div>
                  <h3 class="navbar__sub-menu-categories__head">Formal</h3>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Jackets
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Shirts
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Suits
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Trousers
                  </a>
                </div>
              </div>

              <div class="navbar__sub-menu-banner">
                <b>Autumn Sale!</b>
                <span>Up to 50% Off</span>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="#"> The Brand </a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="#"> Local Stores </a>
        </li>
        <li class="navbar__item" data-dropdown-target="#look-book">
          <a class="navbar__link" href="#"> Look Book </a>
          <i class="fa fa-angle-down navbar__icon-down"></i>

          <div class="navbar__sub-menu" id="look-book">
            <div class="navbar__sub-menu-content">
              <div class="navbar__sub-menu-categories">
                <div class="navbar__sub-menu-categories__left">
                  <h3 class="navbar__sub-menu-categories__head">
                    Our LookBooks
                  </h3>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Latest Posts (mixed)
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Men's Lookbook
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Women's Lookbook
                  </a>
                </div>

                <div>
                  <h3 class="navbar__sub-menu-categories__head">
                    Your LookBook
                  </h3>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    View and Edit
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Share
                  </a>
                  <a class="navbar__sub-menu-categories__link" href="#">
                    Delete
                  </a>
                </div>
              </div>

              <div class="navbar__sub-menu-banner">
                <b>Autumn Sale!</b>
                <span>Up to 50% Off</span>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="navbar__search">
        <input class="navbar__search-input" placeholder="Search..." />
        <div class="navbar__search-icon">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </div>

    <input id="inp-overplay" type="checkbox" style="display: none" />
    <label for="inp-overplay" class="navbar__toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </label>

    <div class="navbar__overplay">
      <ul>
        <li><a class="navbar__overplay-link" href="#">Mens</a></li>
        <li><a class="navbar__overplay-link" href="#">Womens</a></li>
        <li><a class="navbar__overplay-link" href="#">The brand</a></li>
        <li><a class="navbar__overplay-link" href="#">Local stores</a></li>
        <li><a class="navbar__overplay-link" href="#">look boook</a></li>
        <li>
          <div class="navbar__overplay-icons">
            <a id="mobile-search">
              <i class="fa fa-search"></i>
            </a>

            <a href="#">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </div>
        </li>
      </ul>
    </div>

    <div class="search-area-wrapper" style="display: none;">
      <div class="search-area">
        <div id="close-search-area">
          <i class="fa fa-times"></i>
        </div>
        <form action="#" class="search-area-form">
          <div class="search-area-group">
            <input class="search-area-input" placeholder="Search..." />
            <button class="search-area-btn" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </nav>
</header>
