<nav class="navbar">
  <a class="navbar__brand"><span>Avenue</span> Fashion</a>

  <div class="navbar__nav">
    <ul class="navbar__items">
      <li class="navbar__item">
        <a class="navbar__link" href="#"> Mens </a>
        <i class="fa fa-angle-down navbar__icon-down"></i>

        <div class="navbar__sub-menu">
          <div class="navbar__sub-menu-categories">
            <div class="navbar__sub-menu-categories__left">
              <h3 class="navbar__sub-menu-categories__head">Casuals</h3>
              <a class="navbar__sub-menu-categories__link" href="#">
                Jackets
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Hoodies & Sweatshirts
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Polo Shirts
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Sportswear
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Trouser & Chinos
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                T-Shirts
              </a>
            </div>

            <div>
              <h3 class="navbar__sub-menu-categories__head">Formal</h3>
              <a class="navbar__sub-menu-categories__link" href="#">
                Jackets
              </a>
              <a class="navbar__sub-menu-categories__link" href="#"> Shirts </a>
              <a class="navbar__sub-menu-categories__link" href="#"> Suits </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Trousers
              </a>
            </div>
          </div>

          <div class="navbar__sub-menu-banner">
            <b>Autumn Sale!</b>
            <span>Up to 50% Off</span>
          </div>
        </div>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#"> Womens </a>
        <i class="fa fa-angle-down navbar__icon-down"></i>

        <div class="navbar__sub-menu">
          <div class="navbar__sub-menu-categories">
            <div class="navbar__sub-menu-categories__left">
              <h3 class="navbar__sub-menu-categories__head">Casuals</h3>
              <a class="navbar__sub-menu-categories__link" href="#">
                Jackets
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Hoodies & Sweatshirts
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Polo Shirts
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Sportswear
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Trouser & Chinos
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                T-Shirts
              </a>
            </div>

            <div>
              <h3 class="navbar__sub-menu-categories__head">Formal</h3>
              <a class="navbar__sub-menu-categories__link" href="#">
                Jackets
              </a>
              <a class="navbar__sub-menu-categories__link" href="#"> Shirts </a>
              <a class="navbar__sub-menu-categories__link" href="#"> Suits </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Trousers
              </a>
            </div>
          </div>

          <div class="navbar__sub-menu-banner">
            <b>Autumn Sale!</b>
            <span>Up to 50% Off</span>
          </div>
        </div>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#"> The Brand </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#"> Local Stores </a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="#"> Look Book </a>
        <i class="fa fa-angle-down navbar__icon-down"></i>

        <div class="navbar__sub-menu">
          <div class="navbar__sub-menu-categories">
            <div class="navbar__sub-menu-categories__left">
              <h3 class="navbar__sub-menu-categories__head">Our LookBooks</h3>
              <a class="navbar__sub-menu-categories__link" href="#">
                Latest Posts (mixed)
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Men's Lookbook
              </a>
              <a class="navbar__sub-menu-categories__link" href="#">
                Women's Lookbook
              </a>
            </div>

            <div>
              <h3 class="navbar__sub-menu-categories__head">Your LookBook</h3>
              <a class="navbar__sub-menu-categories__link" href="#">
                View and Edit
              </a>
              <a class="navbar__sub-menu-categories__link" href="#"> Share </a>
              <a class="navbar__sub-menu-categories__link" href="#"> Delete </a>
            </div>
          </div>

          <div class="navbar__sub-menu-banner">
            <b>Autumn Sale!</b>
            <span>Up to 50% Off</span>
          </div>
        </div>
      </li>
    </ul>

    <div class="navbar__search">
      <input class="navbar__search-input" placeholder="Search..." />
      <div class="navbar__search-icon">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
</nav>
